@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-image: url('../img/cloud.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

body.active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url('../img/cloud.jpeg');
}

.location-search {
  position: absolute;
  top: 50px;
  left: 25%;
  width: 50%;
  display: flex;
}

.location-search input[type='text'] {
  width: 85%;
  padding: 10px;
  border: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.location-search input[type='text']:focus {
  outline: none;
}

.location-search label {
  background: black;
  color: white;
  opacity: 0.8;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
}

.main-container {
  background-color: white;
  opacity: 0.8;
  padding: 10px;
  height: 50%;
  width: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.3);
  position: relative;
}

.main-container .today-date {
  color: rgb(0, 0, 0, 0.5);
  font-size: 15px;
  margin: 5;
}

.main-container .location {
  font-weight: 400;
  font-size: 25px;
  margin: 4px;
}

.main-container .weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.main-container .weather .weather-term {
  margin: 0;
  font-size: 25px;
}

.main-container .weather img {
  height: 70%;
}

.main-container .temperature {
  position: absolute;
  top: 40%;
  left: 5%;
  font-size: 20px;
}
